<script type="text/javascript">
	window.USERIP = '<% $user_ip %>';
	window.CAPTCHA = (function(){
		const code = [];
		const timeString = new Date().getTime().toString();
		code[3] = timeString.slice(0,5);
		code[1] = timeString.slice(5,10);
		const userIp = window.USERIP.split('.');
		code[0] = userIp[userIp.length - 1];
		code[2] = userIp[0];
		return code.join(''); 
	})();
</script>

<!-- smoosh -->
<link rel="stylesheet" type="text/css" href="styles/main.css">
<!-- endsmoosh -->

<div class="o-grid-container">
	<div id="site-content">
	{% include "partials/create-account.html" %}
	{% include "partials/user-profile.html" %}
	</div>
</div>

<!-- smoosh -->
<script type="text/javascript" src="scripts/main.js"></script>
<!-- endsmoosh -->